*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:linear-gradient(90deg,black,rgb(64, 63, 63),black)
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-size: 50px;
    color: aliceblue;
    font-weight: 700;
    font-family:sans-serif;
}

.box{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    flex-wrap:wrap;
    gap:20px;
    padding: 50px;
}

img{
    margin-bottom: 10px;
    border-radius: 10px;
    background-size:contain;
    background-position: center;
}